<div class="footerSection font-weight-normal">
    <div class="inner">
        <div class="wrapperColumn">
            <div class="col" style="padding-top: 15px;">
                <img style="vertical-align: middle; width: 100px;height: auto;" src="assets/logo.png" alt="">
                
                <p style="padding-top: 7px;" class="textSection">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti assumenda, atque nisi nam
                    perspiciatis vitae at quisquam libero reiciendis tempore. Provident maxime nostrum, odit
                    iure at quae dolorum earum ducimus.
                </p>
                <ul class="social-link">
                    <li><a href="#" class="fab fa-facebook-f"></a></li>
                    <li><a href="#" class="fab fa-google"></a></li>
                    <li><a href="#" class="fab fa-twitter"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                </ul>
            </div>
            <div class="col">
                <div class="headerSection">
                    <h2 style="font-size: 1.17rem;" style="margin: 0px;padding: 0px;">Our Services</h2>

                </div>
                <ul class=" list">
                    <li>- Unlimited Messaging Therapy Couples Therapy</li>
                    <li>Couples Therapy</li>
                    <li> Unlimited Messaging Therapy</li>
                    <li>Couples Therapy</li>
                    <li> Unlimited Messaging Therapy</li>
                    <li>Couples Therapy</li>
                </ul>
            </div>
            <div class="col">
                <div class="headerSection">
                    <h2 style="font-size: 1.17rem;" style="margin: 0px;padding: 0px;">Our Contact</h2>
                </div>
                <p style="padding: 0px;margin: 0px;">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit qui, in quam maxime facilis
                    placeat tempora harum exercitationem architecto cum ut ducimus vitae, beatae dolores
                    corrupti doloremque neque esse delectus.
                </p>

            </div>
        </div>
    </div>
</div>